# Node specific configuration
ETCD_NAME="{{ etcd_name }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_host }}:{{ etcd_listen_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_host }}:{{ etcd_listen_client_port }},http://localhost:{{ etcd_listen_client_port }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:{{ etcd_listen_peer_port }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:{{ etcd_listen_client_port }}"

# Cluster configuration
ETCD_INITIAL_CLUSTER="{{ initial_cluster }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ initial_cluster_token }}"
ETCD_INITIAL_CLUSTER_STATE="new"


