scope: {{ cluster_scope }}
name: {{ inventory_hostname }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_host }}:8008

etcd:
  hosts: {{ etcd_hosts }}
  api_version: v3
    
bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        max_connections: 100
        shared_buffers: 1GB
        wal_level: logical

  initdb:
  - encoding: UTF8
  - data-checksums

  pg_hba:
  - host replication replicator 10.10.10.0/24 md5
  - host all all 10.10.10.0/24 md5

  users:
    admin:
      password: "{{ superuser_password }}"
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_host }}:5432
  data_dir: {{ postgres_data_dir }}
  bin_dir: {{ postgres_bin_dir }}
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: replicator
      password: "{{ replication_password }}"
    superuser:
      username: postgres
      password: "{{ superuser_password }}"
#    надо разобраться есть ли смысл в ревайнд юзере или достаточно суперюзера
#    rewind:
#      username: rewind_user
#      password: "{{ superuser_password }}"
